<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
    .form {
        display: flex;
        flex-direction: column;
        padding: 40px;
        margin-bottom: 0px;
        background-color: rgb(141, 141, 165);
    }

    .incorrect {
        color: red;
        margin-bottom: 1rem;
    }

    .pswd {
        margin-bottom: 10px;
    }

    button {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
    color: azure;
    background-color: rgb(18, 17, 50);
  }

</style>
<body>
  <form class="form" method="post">
    <div class="pswd">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required />
    </div>
    <button type="submit">Download</button>
  </form>
  <% if (locals.error) { %>
    <div class="incorrect">
      Incorrect Password
    </div>
  <% } %>
</body>
</html>